@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin main-content-width {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

@mixin section-panel {
  @include main-content-width;

  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-bg-card);
  border-radius: 0.5rem;

  @include light {
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 5%);
  }
}

@mixin bold {
  font-weight: 700;
}
