@use "sass:color";

$red-bg: #ffdce0;
$yellow-bg: #fff0c2;
$green-bg: #d3ebd3;

table.stdlist tr.one-day-before {
  background-color: $red-bg !important;
}

table.stdlist tr.one-day-before.row1 {
  background-color: color.adjust($red-bg, $lightness: 2%) !important;
}

table.stdlist tr.one-day-before:hover,
table.stdlist tr.one-day-before.hilitecolor td {
  background-color: color.adjust($red-bg, $lightness: -2%) !important;
}

.one-day-before a {
  color: color.adjust($red-bg, $lightness: -75%) !important;
}

table.stdlist tr.three-days-before {
  background-color: $yellow-bg !important;
}

table.stdlist tr.three-days-before.row1 {
  background-color: color.adjust($yellow-bg, $lightness: 3%) !important;
}

table.stdlist tr.three-days-before:hover,
table.stdlist tr.three-days-before.hilitecolor td {
  background-color: color.adjust($yellow-bg, $lightness: -2%) !important;
}

.three-days-before a {
  color: color.adjust($yellow-bg, $lightness: -75%) !important;
}

table.stdlist tr.seven-days-before {
  background-color: $green-bg !important;
}

table.stdlist tr.seven-days-before.row1 {
  background-color: color.adjust($green-bg, $lightness: 3%) !important;
}

table.stdlist tr.seven-days-before:hover,
table.stdlist tr.seven-days-before.hilitecolor td {
  background-color: color.adjust($green-bg, $lightness: -2%) !important;
}

.seven-days-before a {
  color: color.adjust($green-bg, $lightness: -65%) !important;
}
